/* Created by visakov at 05.03.18 */

.toc-contents {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 50px;
}

.toc-testsuite {
    margin-left: 10px;
    margin-right: -10px;
    margin-bottom: 30px;
}

.toc-testcase {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1px;
}

#success {
    background-color: lightgreen;
}

#error {
    background-color: lightcoral;
}

table {
    width: 100%;
    border: 4px double black;
    border-collapse: collapse;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 40px;
}

thead tr {
    height: 50px;
}

tbody tr {
    height: 30px;
}

td {
    text-align: center;
    width: calc(100% / 6);
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

li {
    margin-top: 10px;
}