<div class="toc-contents">
  <ul>
    <div class="toc-testsuite">
      <h1>test_01_auth.Authorization</h1>
      <li>tests       : 2</li>
      <li>errors      : 0</li>
      <li>failures    : 0</li>
      <li>skipped     : 0</li>
      <li>time        : 25.482137</li>
      <li>timestamp   : 2018-03-01T16:10:56.752396</li>
    </div>
    <div class="toc-testcase">
      <h2>Authorization Success</h2>
      <li>status      : passed</li>
      <li>time        : 14.564286</li>
    </div>
    <div class="toc-testcase">
      <h2>Authorization Fail</h2>
      <li>status      : passed</li>
      <li>time        : 10.917851</li>
    </div>
  </ul>
</div>
