<div class="toc-contents">
  <ul>
    <div class="toc-testsuite">
      <h1>test_01.Authorization</h1>
      <li>tests : 2</li>
      <li>errors : 0</li>
      <li>failures : 0</li>
      <li>skipped : 0</li>
      <li>time : 24.76428</li>
      <li>timestamp : 2018-03-01T16:16:54.292437</li>
    </div>
    <div class="toc-testcase">
      <h2>Authorization Success</h2>
      <li>status : passed</li>
      <li>time : 12.284671</li>
    </div>
    <div class="toc-testcase">
      <h2>Authorization Fail</h2>
      <li>status : passed</li>
      <li>time : 12.479609</li>
    </div>
  </ul>
</div>
