<div class="toc-contents">
  <ul>
    <div class="toc-testsuite">
      <h1>test_02.Authorization 2</h1>
      <li>tests : 2</li>
      <li>errors : 0</li>
      <li>failures : 0</li>
      <li>skipped : 0</li>
      <li>time : 25.406611</li>
      <li>timestamp : 2018-03-01T16:17:19.705823</li>
    </div>
    <div class="toc-testcase">
      <h2>Authorization Success</h2>
      <li>status : passed</li>
      <li>time : 16.191768</li>
    </div>
    <div class="toc-testcase">
      <h2>Authorization Fail</h2>
      <li>status : passed</li>
      <li>time : 9.214843</li>
    </div>
  </ul>
</div>
