<div class="toc-contents">
  <ul>
    <div class="toc-testsuite">
      <h1>test_02_auth.Authorization 2</h1>
      <li>tests : 2</li>
      <li>errors : 0</li>
      <li>failures : 0</li>
      <li>skipped : 0</li>
      <li>time : 41.69506</li>
      <li>timestamp : 2018-03-01T15:41:49.141932</li>
    </div>
    <div class="toc-testcase">
      <h2>Authorization Success</h2>
      <li>status : passed</li>
      <li>time : 25.250995</li>
    </div>
    <div class="toc-testcase">
      <h2>Authorization Fail</h2>
      <li>status : passed</li>
      <li>time : 16.444065</li>
    </div>
  </ul>
</div>
